button{
  background-color: #fff;
}
.ticket__example {
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50%;
    cursor: pointer;
  }

  .back__image {
    background-image: url(@/assets/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(calc(1vw + 1vh) * 1.15);
    width: calc(calc(1vw + 1vh) * 1.15);
    margin-right: calc(1vw + 1vh);
  }

  .back__text {
    font: calc(calc(1vw + 1vh) * 1.25) 'Inter', sans-serif;
    color: rgba(64, 93, 145, 1);
    margin: 0;
  }

  .main__block__title {
    display: flex;
    justify-content: flex-start;
    font: bold calc(calc(1vw + 1vh) * 1.5) 'Inter', sans-serif;
    margin: 15px 0;
    color: rgba(64, 93, 145, 1);
    width: 100%;
  }

  .main__block__text {
    font: bold 28px 'Inter', sans-serif;
    margin: 0;
    color: rgba(64, 93, 145, 1);
    margin-left: 66px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
  }

  .main__container {
    display: flex;
    width: 90%;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 1);
  }

  .inner__container {
    width: 90%;
  }

  .inner__container > * {
    font: calc(calc(1vw + 1vh) / 1.5) 'Inter', sans-serif;
    margin-bottom: calc(calc(1vw + 1vh) / 1.15);
  }

  .inner__container > h1 {
    text-align: center;
  }
  .teachers {
    display: flex;
    justify-content: space-around;
  }
  .teachers > h1 {
    font: calc(calc(1vw + 1vh) / 1.5) 'Inter', sans-serif;
    margin: 0;
  }
  ol{
    font-size: 10px !important;
  }
  ol > li{
    margin: 5px 0;
  }
